body {
  margin-bottom: 8em;
}

h1, h2, h3 {
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

form .row {
  margin-bottom: 16px;
}

.navbar-brand>img {
  display: inline-block;
  margin-top: -3px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  padding: 2em 0;
  background-color: #f8f8f8;
  text-align: center;
  height: 6em;
}

#new_events a {
  color: orange;
}

#new_events a:hover {
  color: #333;
}

#check_summary li {
  padding-top: 2px;
}

#check_summary li strong {
  font-size: 2.5em;
}

#check_summary li .label {
  font-size: 1em;
  margin: 10px;
  vertical-align: 37%;
}

div.btn-toolbar {
  height:20px;
}

#welcome {
  text-align: center;
  font-size: 1.5em;
  margin: 180px 0;
}

#events ul {
  margin-top: 1em;
  margin-left: 0;
  list-style: none;
}

#events li {
  padding-bottom: 0.5em;
}

#events li.new {
  background-color: #FFECCA;
}

#events li.new:first-child {
  padding-top: 0.5em;
}

#singleStat .row {
  text-align: center;
  font-size: 4em;
}

#singleStat .row h3 {
  margin: 30px 0 10px 0;
}

.uptimeBar {
  height:15px;
  position: relative;
  background: #5cb85c; /* Old browsers */
}
.timeline .uptimeBar {
  height: 5px;
}
table .uptimeBar {
  margin-top: 2px;
}

.uptimeBar div {
  position:absolute;
  height:inherit;
  margin:0;
}

.uptimeBar .down {
  min-width: 1px;
  background: #d9534f; /* Old browsers */
}

.uptimeBar .down:hover {
  background: #c9302c;
}

.uptimeBar .pause {
  background: #286090; /* Old browsers */
}

.uptimeBar .pause:hover {
  background: #3A87AD;
}

.green {
  color: #3c763d;
}

.orange {
  color: #aa6708;
}

.red {
  color: #a94442;
}

.blue {
  color: #1b809e;
}

tfoot {
  color: #DDD;
}

table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: #f7f7f9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

div.tagsinput span.tag span {
  text-decoration: underline; cursor: pointer;
}

table.chart td {
  width: 12%;
}

table.chart th.date {
  width: 30%;
}

table.chart th.uptimeCol {
  width: 22%;
}

table.ping .error {
  max-width: 350px;
  word-wrap: break-word;
}

#sectionList section {
  padding-top: 20px;
}
#sectionList .span10 {
  margin-top: -88px;
}
#sectionList strong {
  font-size: 1.5em;
}
#dateNavigationContainer {
  min-height: 88px;
}
#dateNavigation.affix {
  top: 0;
  background-color: white;
  z-index: 50;
  width: 1140px;
}
#secondaryNav.affix {
  top: 91px;
  width: 165px;
}
i.icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
#dateNavigation .title {
  text-align: center;
  margin: 5px;
}
#dateNavigation .title a {
  cursor: pointer;
}
#dateNavigation .timeline {
  margin-left: 29px;
  height: 5px;
  margin-bottom: 4px;
}
.btn-sm.month, .btn-sm.day, .btn-sm.hour, .btn-sm.quarter {
  padding-right: 0;
  padding-left: 0;
}
.btn.btn-sm.month {
  width: 61px;
}
.btn.btn-sm.day.nb31 {
  width: 24px;
}
.btn.btn-sm.day.nb30 {
  width: 25px;
}
.btn.btn-sm.day.nb29 {
  width: 26px;
}
.btn.btn-sm.day.nb28 {
  width: 27px;
}
.btn.btn-sm.hour {
  width: 31px;
}
.btn.btn-sm.tenminutes {
  width: 120px;
}
ul.nav-tabs li span {
  font-weight: bold;
}
.graph {
  margin: 20px 0 0 25px;
  width:600px;
  height:200px;
}
#checkUptimeBars li {
  padding: 0 0 1em 4px;
  list-style-type: none;
}
#checkUptimeBars li .name {
  margin-bottom: 2px;
}
#check_24h + a.btn {
  margin-left: 10px;
}
